<div class="topnav">
    <h1><b>Register to Diabetes Home</b></h1>
</div>

<div class="GPcontent">
    <div class="Pcontent">
        <form action="/auth/register" , method="post" id="loginForm">
            <div class="content-gap">
                <label for='nameInput' class="gap-name"><b>Username</b></label>
                <input type='text' placeholder="Enter Username" name="username" >
                <label for='ageInput' class="gap-name"><b>Password</b></label>
                <input type='password' placeholder="Enter Password" name="password">
                <button type='submit' id='submitButton' style= "margin-top:30px">Register</button>
            </div>
            <div class="register-style">
                <a class="account-tell">Already have an account?</a>
                <a href="./" class="no-deco">login</a>
            </div>
        </form>
    </div>
</div>
